{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Begin page name -->
    <section class="page-name mb-xs-30 mb-md-30 mb-lg-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Аккаунтту өчүрүү</h1>
                </div>
            </div>
        </div>
        <div class="layer-background lazy" data-src="{% static 'img/slider.png' %}"></div>
        <img src="{% static 'img/lazy.png' %}" class="page-name-img lazy" data-src="{% static 'img/cloud.png' %}"
             alt="Img">
    </section>
    <!-- End page name -->
   <div class="container">
    <form action="" method="post">{% csrf_token %}
        <p><h2>Сиз, "{{ queue.child_name }}ти" тизмеден өчүргүңүз келеби?</h2>
        <button type="submit" value="Тастыктоо" class="btn btn-danger">Тастыктоо</button>
    </form>
   </div>
{% endblock content %}