{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Begin page name -->
    <section class="page-name mb-xs-30 mb-md-30 mb-lg-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Тайпаларды өзгөртүү</h1>
                </div>
            </div>
        </div>
        <div class="layer-background lazy" data-src="{% static 'img/slider.png' %}"></div>
        <img src="{% static 'img/lazy.png' %}" class="page-name-img lazy" data-src="{% static 'img/cloud.png' %}"
             alt="Img">
    </section>
    <!-- End page name -->
    <main class="main-container">
        <!-- Begin blog-posts -->
        <!-- Begin latest news -->
        <section class="mb-xs-50 mb-md-80 mb-lg-120" id="bg-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header on-scroll">
                            {% if user.is_authenticated %}
                                <p>
                                    <button class="btn btn-success"><a href="{% url 'group_new' %}" style="color: white">Тайпа
                                        Кошуу</a></button>
                                </p>
                            {% endif %}
                        </div>
                        <div class="education-slier on-scroll fade-up" data-show-count='3' data-show-count-md='2'
                             data-show-count-mob='1' data-slick-speed="5000" data-slick-autoplay="true">
                            {% for group in group_name %}
                                <div class="it-card">
                                    <div class="education-short">
                                        <div class="education-top">
                                            <!-- <img src="img/lazy.png" class="lazy" data-src="img/educational-1.jpg" alt="img"> -->
                                            <img src="{{ group.group_img.url }}" alt="img">
                                            <div class="hide-block">
                                                <div class="inner-wrap">
                                                    <p>{{ group.about_text }}</p>
                                                    <div class="education-short-info">
                                                        <p><span>Катталгандар:</span> {{ group.group_reg }}</p>
                                                        <p><span>Мугалимдер:</span> {{ group.group_teachers }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="education-bottom">
                                            <p>{{group.group_name}} <span class="education-age">{{ group.group_year_from }}-{{ group.group_year_to }}</span> <span
                                                    class="old">Жыл</span>
                                            </p>
                                            <p><a href="{% url 'group_detail' group.id %}" class="btn btn-info col-md-12">Тайпаны өзгөртүү</a></p>
                                        </div>
                                        <!-- educational-1 -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End latest news -->
    </main>
{% endblock content %}