{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-name mb-xs-30 mb-md-30 mb-lg-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Тайпа</h1>
                </div>
            </div>
        </div>
        <div class="layer-background lazy" data-src="{% static 'img/slider.png' %}"></div>
        <img src="{% static 'img/lazy.png' %}" class="page-name-img lazy" data-src="{% static 'img/cloud.png' %}"
             alt="Img">
    </section>
    <div class="container">

        <div class="col-xl-12 col-lg-12 pt-xs-20 pt-md-20">
            <div class="blog-post single-post mb-xs-30 mb-md-60 mb-lg-90">
                <div class="post-image">
                    <a href="#">
                        <img src="{{ group.group_img.url }}" alt="img">
                    </a>
                </div>
                <div class="post-description">

                    <div class="education-bottom">
                        <p>{{ group.group_name }} <span
                                class="education-age">{{ group.group_year_from }}-{{ group.group_year_to }}</span> <span
                                class="old">Жыл</span>
                        </p>
                    </div>
                    <div class="education-short-info">
                        <p><span>Катталгандар:</span> {{ group.group_reg }}</p>
                        <p><span>Мугалимдер:</span> {{ group.group_teachers }}</p>
                    </div>
                </div>
                <hr>
                <div class="post-navigate">
                    <div class="col-md-12">
                        {% if user.is_authenticated %}
                            <ul class="tag-list">
                                <div class="blog-post-nav post-prev">
                                    <li>
                                        <a href="{% url 'group_edit' group.pk %}">Тайпаны
                                            өзгөртүү</a>
                                    </li>
                                </div>
                                <li>
                                    <a href="{% url 'group_delete' group.pk %}" class="news-btn news-delete-btn">Тайпаны
                                        өчүрүү</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}